<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/nav-bar}"></th:block>
    </header>
    <main class="mt-5">
        <div class="bg-image-quote-all">
            <span style="visibility: hidden">....</span>
            <h1 class="text-center bold font-weight-bold text-dark">All quotes</h1>
            <hr class="hr-2 bg-dark">
            <table class="table table-hover w-75 mx-auto">
                <thead>
                <tr class="row mx-auto">
                    <th class="col-md-1 text-center">#</th>
                    <th class="col-md-3 text-center">Image</th>
                    <th class="col-md-3 text-center">Title</th>
                    <th class="col-md-2 text-center">Author</th>
                    <th class="col-md-3 text-center">Description</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="quotes, iter : ${quotes}">
                    <tr class="row mx-auto">
                        <th class="col-md-1 text-center" th:text="${iter.index + 1}"></th>
                        <td class="col-md-3">
                            <div class="text-center"><img th:src="${quotes.imgUrl}" width="40" height="40"
                                                          alt="quotes">
                            </div>
                        </td>
                        <td class="col-md-3 text-center" th:text="${quotes.title}"></td>
                        <td class="col-md-2 text-center" th:text="${quotes.author}"></td>
                        <td class="col-md-2 text-center" th:text="${quotes.description}"></td>
                        <td class="col-md-3 text-center">
                            <a th:href="@{/quotes/details/{id}(id=${quotes.id})}"
                               class="btn btn-secondary glow-button font-weight-bold text-white">Details</a>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{/quotes/edit/{id}(id=${quotes.id})}"
                                   class="btn btn-success glow-button font-weight-bold text-white">Edit</a>
                            </th:block>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{/quotes/delete/{id}(id=${quotes.id})}"
                                   class="btn btn-danger glow-button font-weight-bold text-white">Delete</a>
                            </th:block>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <hr class="hr-2 bg-dark">
            <span style="visibility: hidden">....</span>
        </div>
    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>