<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/nav-bar}"></th:block>
    </header>
    <main class="mt-5">
        <div class="bg-image-quote-create">
            <span style="visibility: hidden">....</span>
            <h1 class="text-center font-weight-bold text-black">Profile</h1>
            <hr class="hr-2 w-25 bg-dark">
            <div class="row">
                <div class="col col-md-12 text-center">
                    <h1 th:utext="${model.username}"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center">
                    <h4 th:utext="${model.email}"></h4>
                </div>
            </div>
            <hr class="hr-2 w-25 bg-dark">
            <div class="button-holder d-flex justify-content-center">
                <a th:href="@{/users/edit}" class="btn btn-dark">Edit Profile</a>
            </div>
            <hr class="hr-2 w-25 bg-dark">

        </div>
    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>