<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/nav-bar}"></th:block>
    </header>
    <main class="mt-5">
        <div class="bg-image-quote-all">
            <span style="visibility: hidden">....</span>
            <h1 class="text-center bold font-weight-bold text-dark">All users</h1>
            <hr class="hr-2 bg-dark">
            <table class="table table-hover w-75 mx-auto">
                <thead>
                <tr class="row mx-auto">
                    <th class="col-md-1 text-center">#</th>
                    <th class="col-md-3 text-center">Username</th>
                    <th class="col-md-3 text-center">Email</th>
                    <th class="col-md-2 text-center">Roles</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="users, iter : ${users}">
                    <tr class="row mx-auto">
                        <th class="col-md-1 text-center" th:text="${iter.index + 1}"></th>
                        <td class="col-md-3 text-center" th:text="${users.username}"></td>
                        <td class="col-md-2 text-center" th:text="${users.email}"></td>
                        <td class="col-md-2 text-center" th:text="${#strings.listJoin(users.authorities, ', ')}"></td>
                        <td class="col-md-3 text-center">
                            <div class="row">
                                <th:block th:if="${#lists.contains(users.authorities, 'ROLE_USER') &&
                                    !#lists.contains(users.authorities, 'ROLE_ADMIN')}">
                                    <form th:action="@{/set-moderator/{id}(id=${users.id})}" method="post">
                                        <input type="hidden" name="_csrf"
                                               value="80417983-fe8b-45c7-963e-31f6915a1560">
                                        <button class="btn btn-dark">MODERATOR</button>
                                    </form>
                                    <form th:action="@{/set-admin/{id}(id=${users.id})}" method="post">
                                        <input type="hidden" name="_csrf"
                                               value="80417983-fe8b-45c7-963e-31f6915a1560">
                                        <button class="btn btn-dark">ADMIN</button>
                                    </form>

                                </th:block>
                                <th:block th:if="${#lists.contains(users.authorities, 'ROLE_USER')
                                 && !#lists.contains(users.authorities, 'ROLE_ADMIN')
                        }">
                                    <form th:action="@{/users/set-user/{id}(id=${users.id})}" method="post">
                                        <input type="hidden" name="_csrf"
                                               value="80417983-fe8b-45c7-963e-31f6915a1560">
                                        <button class="btn btn-dark">USER</button>
                                    </form>
                                    <form th:action="@{/users/set-admin/{id}(id=${users.id})}" method="post">
                                        <input type="hidden" name="_csrf"
                                               value="80417983-fe8b-45c7-963e-31f6915a1560">
                                        <button class="btn btn-dark">ADMIN</button>
                                    </form>
                                </th:block>
                                <th:block th:if="${#lists.contains(users.authorities, 'ROLE_USER')
                                 && #lists.contains(users.authorities, 'ROLE_ADMIN') && !#lists.contains(users.authorities, 'ROLE_ROOT')
                        }">
                                    <form th:action="@{/users/set-user/{id}(id=${users.id})}" method="post">
                                        <input type="hidden" name="_csrf"
                                               value="80417983-fe8b-45c7-963e-31f6915a1560">
                                        <button class="btn btn-dark">USER</button>
                                    </form>
                                    <form th:action="@{/users/set-moderator/{id}(id=${users.id})}" method="post">
                                        <input type="hidden" name="_csrf"
                                               value="80417983-fe8b-45c7-963e-31f6915a1560">
                                        <button class="btn btn-dark">MODERATOR</button>
                                    </form>
                                </th:block>
                            </div>
                            <!--<a th:href="@{/users/edit/{id}(id=${users.id})}"-->
                            <!--class="btn btn-success glow-button font-weight-bold text-white">Edit</a>-->
                            <!--<a th:href="@{/users/delete/{id}(id=${users.id})}"-->
                            <!--class="btn btn-danger glow-button font-weight-bold text-white">Delete</a>-->
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <hr class="hr-2 bg-dark">
            <span style="visibility: hidden">....</span>
        </div>
    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>